#define VERSION             0,0,5,99
#define VERSION_STR         "0.0.6 (beta)\0"

IDI_ICON1 ICON DISCARDABLE "icon.ico"

1 VERSIONINFO
FILEVERSION VERSION
PRODUCTVERSION VERSION
FILEOS 0x4L
FILETYPE 0x1L
BEGIN
BLOCK "StringFileInfo"
BEGIN
	BLOCK "040004e4"
	BEGIN
		VALUE "FileDescription",  "The Runic Orbs\0"
		VALUE "OriginalFilename", "runicorbs.exe\0"
		VALUE "CompanyName",      "by Glyca\0"
		VALUE "FileVersion",      VERSION_STR
		VALUE "LegalCopyright",   "Copyright 2011-2012 Glyca\0"
		VALUE "ProductName",      "The Runic Orbs\0"
		VALUE "ProductVersion",   VERSION_STR
	END
END
BLOCK "VarFileInfo"
BEGIN
	VALUE "Translation", 0x400, 1252
END
END
