#define VERSION             0,0,6,0
#define VERSION_STR         "0.0.6 (beta)\0"

IDI_ICON1 ICON DISCARDABLE "icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION VERSION
PRODUCTVERSION VERSION
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
BLOCK "StringFileInfo"
{
								BLOCK "040904b0"
								{
																VALUE "FileDescription",  "The Runic Orbs"
																VALUE "OriginalFilename", "runicorbs.exe"
																VALUE "CompanyName",      "Glyca"
																VALUE "FileVersion",      VERSION_STR
																VALUE "LegalCopyright",   "Copyright © 2011-2012 Glyca"
																VALUE "ProductName",      "The Runic Orbs"
																VALUE "ProductVersion",   VERSION_STR
								}
}
}
